body, #geo-page {
  overflow-y: hidden;
}

#control-r-hidden-stuff {
  display: none;
}

.control-r-hide-on-start {
    visibility: hidden;
}

.control-r-header-link-gutter {
    height: 15px;
}

.control-r-header-with-logo {
	background-image: url('../img/logo-header.png'); 
	background-repeat: no-repeat;
	background-position: center top -1px;
}
