.control-r-header-link:after {
  content: "\00A0";
  height: 17px;
  display: block;
}
.control-r-header-collapsible:after {
  content: "\00A0";
  height: 17px;
  display: block;
}
.control-r-icon-link:before, .control-r-icon-link:hover:before,
.control-r-icon a:before, .control-r-icon a:hover:before {
  content: "\00A0";
  width: 44px;
  line-height: 44px;
  height: 44px;
  margin-top: -22px;
  display: inline-block;
  margin-right: 8px;
}
.control-r-icon-props:focus,
.control-r-icon-graph:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.control-r-icon-props,
.control-r-icon-graph {
  background-color: transparent !important;
  border: 0 !important;
}
.control-r-icon-props:before {
  background-position: -44px 44px;
  background-image: url("../img/icones/sprite-stroked.png");
}
.control-r-icon-props:hover:before {
  background-position: 0px 44px;
  background-image: url("../img/icones/sprite-stroked.png");
}
.control-r-icon-objs a:before {
  background-position: -132px 88px;
  background-image: url("../img/icones/sprite-stroked.png");
}
.control-r-icon-objs a:hover:before {
  background-position: -88px 88px;
  background-image: url("../img/icones/sprite-stroked.png");
}
.control-r-icon-flat a:before {
  background-position: -132px 220px;
  background-image: url("../img/icones/sprite-unstroked-1.png");
}
.control-r-icon-flat a:hover:before {
  background-position: -88px 220px;
  background-image: url("../img/icones/sprite-unstroked-1.png");
}
.control-r-icon-house a:before {
  background-position: -132px 264px;
  background-image: url("../img/icones/sprite-unstroked-1.png");
}
.control-r-icon-house a:hover:before {
  background-position: -88px 264px;
  background-image: url("../img/icones/sprite-unstroked-1.png");
}
.control-r-icon-plant a:before {
  background-position: -132px 176px;
  background-image: url("../img/icones/sprite-unstroked-1.png");
}
.control-r-icon-plant a:hover:before {
  background-position: -88px 176px;
  background-image: url("../img/icones/sprite-unstroked-1.png");
}
.control-r-icon-personal a:before {
  background-position: -132px 132px;
  background-image: url("../img/icones/sprite-stroked.png");
}
.control-r-icon-personal a:hover:before {
  background-position: -88px 132px;
  background-image: url("../img/icones/sprite-stroked.png");
}
.control-r-icon-support a:before {
  background-position: -132px 220px;
  background-image: url("../img/icones/sprite-stroked.png");
}
.control-r-icon-support a:hover:before {
  background-position: -88px 220px;
  background-image: url("../img/icones/sprite-stroked.png");
}

