stroked     = '../img/icones/sprite-stroked.png' 
unstroked-1 = '../img/icones/sprite-unstroked-1.png' 

icon-position(x, y, d, type)
	background-position (x * 44)px (y * 44 - d)px
	background-image url(type) 

$control-r-icon
	content "\00A0"
	width 44px 
	line-height 44px
	height 44px 
	margin-top -22px
	display inline-block 
	margin-right 8px
	background-position 44px 0px

.control-r-icon-props:focus , .control-r-icon-graph:focus
	-moz-box-shadow: none !important
	-webkit-box-shadow: none !important
	box-shadow: none !important

.control-r-icon-props, .control-r-icon-graph
	background-color #1d1d1d !important
	border-color #1d1d1d !important

.control-r-icon-props:before
	@extends $control-r-icon
	icon-position(-1, 1, 0, stroked) 

.control-r-icon-props:hover:before
	@extends $control-r-icon
	icon-position(0, 1, 0, stroked) 

.control-r-icon-graph:before
	@extends $control-r-icon
	icon-position(-1, 2, 0, stroked) 

.control-r-icon-graph:hover:before
	@extends $control-r-icon
	icon-position(0, 2, 0, stroked) 

.control-r-icon-objs a:before
	@extends $control-r-icon
	icon-position(-3, 2, 0, stroked) 

.control-r-icon-objs a:hover:before
	@extends $control-r-icon
	icon-position(-2, 2, 0, stroked) 

.control-r-icon-flat a:before
	@extends $control-r-icon
	icon-position(-3, 5, 0, unstroked-1) 

.control-r-icon-flat a:hover:before
	@extends $control-r-icon
	icon-position(-2, 5, 0, unstroked-1) 

.control-r-icon-house a:before
	@extends $control-r-icon
	icon-position(-3, 6, 0, unstroked-1) 

.control-r-icon-house a:hover:before
	@extends $control-r-icon
	icon-position(-2, 6, 0, unstroked-1) 

.control-r-icon-plant a:before
	@extends $control-r-icon
	icon-position(-3, 4, 0, unstroked-1) 

.control-r-icon-plant a:hover:before
	@extends $control-r-icon
	icon-position(-2, 4, 0, unstroked-1) 

.control-r-icon-personal a:before
	@extends $control-r-icon
	icon-position(-3, 3, 0, stroked) 

.control-r-icon-personal a:hover:before
	@extends $control-r-icon
	icon-position(-2, 3, 0, stroked) 

.control-r-icon-support a:before
	@extends $control-r-icon
	icon-position(-3, 5, 0, stroked) 

.control-r-icon-support a:hover:before
	@extends $control-r-icon
	icon-position(-2, 5, 0, stroked) 

.control-r-icon-security h3 a:before
	@extends $control-r-icon
	icon-position(-1, 4, 0, stroked) 

.control-r-icon-security h3 a:hover:before
	@extends $control-r-icon
	icon-position(0, 4, 0, stroked) 

.control-r-icon-comfort h3 a:before
	@extends $control-r-icon
	icon-position(-1, 5, 0, stroked) 

.control-r-icon-comfort h3 a:hover:before
	@extends $control-r-icon
	icon-position(0, 5, 0, stroked) 

.control-r-icon-energy h3 a:before
	@extends $control-r-icon
	icon-position(-1, 3, 0, stroked) 

.control-r-icon-energy h3 a:hover:before
	@extends $control-r-icon
	icon-position(0, 3, 0, stroked) 

.control-r-icon-home a:before
	@extends $control-r-icon
	icon-position(-3, 4, 0, stroked) 

.control-r-icon-home a:hover:before
	@extends $control-r-icon
	icon-position(-2, 4, 0, stroked) 

.control-r-icon-tv a:before
	@extends $control-r-icon
	icon-position(-5, 4, 0, unstroked-1) 

.control-r-icon-tv a:hover:before
	@extends $control-r-icon
	icon-position(-4, 4, 0, unstroked-1) 

.control-r-icon-webcam a:before
	@extends $control-r-icon
	icon-position(-7, 6, 0, unstroked-1) 

.control-r-icon-webcam a:hover:before
	@extends $control-r-icon
	icon-position(-6, 6, 0, unstroked-1) 

.control-r-icon-light-inner a:before
	@extends $control-r-icon
	icon-position(-1, 1, 0, unstroked-1) 

.control-r-icon-light-inner a:hover:before
	@extends $control-r-icon
	icon-position(0, 1, 0, unstroked-1) 

.control-r-icon-light-outer a:before
	@extends $control-r-icon
	icon-position(-1, 2, 0, unstroked-1) 

.control-r-icon-light-outer a:hover:before
	@extends $control-r-icon
	icon-position(0, 2, 0, unstroked-1) 

.control-r-icon-jack a:before
	@extends $control-r-icon
	icon-position(-1, 3, 0, unstroked-1) 

.control-r-icon-jack a:hover:before
	@extends $control-r-icon
	icon-position(0, 3, 0, unstroked-1) 

.control-r-icon-temperature-humidity-sensor a:before
	@extends $control-r-icon
	icon-position(-1, 4, 0, unstroked-1) 

.control-r-icon-temperature-humidity-sensor a:hover:before
	@extends $control-r-icon
	icon-position(0, 4, 0, unstroked-1) 

.control-r-icon-temperature-sensor a:before
	@extends $control-r-icon
	icon-position(-1, 5, 0, unstroked-1) 

.control-r-icon-temperature-sensor a:hover:before
	@extends $control-r-icon
	icon-position(0, 5, 0, unstroked-1) 

.control-r-icon-leak-sensor a:before
	@extends $control-r-icon
	icon-position(-1, 6, 0, unstroked-1) 

.control-r-icon-leak-sensor a:hover:before
	@extends $control-r-icon
	icon-position(0, 6, 0, unstroked-1) 

.control-r-icon-audio a:before
	@extends $control-r-icon
	icon-position(-5, 5, 0, unstroked-1) 

.control-r-icon-audio a:hover:before
	@extends $control-r-icon
	icon-position(-4, 5, 0, unstroked-1) 

.control-r-icon-garland a:before
	@extends $control-r-icon
	icon-position(-5, 6, 0, unstroked-1) 

.control-r-icon-garland a:hover:before
	@extends $control-r-icon
	icon-position(-4, 6, 0, unstroked-1) 

