<div class='dimmer'>
<style scoped>
    .ui-slider:before{
        content: " ";  
                                         background: url('./img/modals_ico/slider-rules.png') no-repeat;
                                          height: 8px;  
                                        width: 198px;  
                                         display: block; 
                                          float: left;  
                                         position: relative;  
                                        top: -13px; 
                                        left:0px;
        
    }
    .ui-slider{
                                    background: url("./images/ui-bg_glass_85_00cfcb_1x400.png") repeat-x scroll 50% 50% #00cfcb;
                                         width: 200px;
                                         height: 15px;
                                         border-radius: 20px;
        
    }
    .ui-slider-range{   
                                    background:url("./img/input_back.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
                                         border-radius: 5px;        
    }
    .ui-slider-handle{ 
                                         background: url('./img/modals_ico/slider-1-a.png') no-repeat;   
                                         background-size: 30px auto;
                                         border: none;
                                         width: 41px;
                                         height: 36px;
                                         z-index: 100;
                                         cursor: pointer;
    }
    
    .lights{
                                         background-image: url('./img/modals_ico/lamp_off.png'); 
                                         background-repeat: no-repeat;
                                         
                                         background-size: 120px;
                                               width: 121px;
                                         height: 202px;
                                         margin-bottom: -10px;                                                                                 
    }
    .lights_l{
                                         background-image: url('./img/modals_ico/lamp_l.png'); 
                                         background-repeat: no-repeat;
                                         top:0px;
                                         opacity: 0;
                                         
                                         background-size: 120px;
                                               width: 141px;
                                         height: 202px;
                                         margin-bottom: -10px; 
                                         position: absolute;
    }
    
    .sl{
                                              left: 0px;
                                         top:-30px;  
                                         position: relative;
    }
    
        .on-off{
                                               width: 160px;
                                         height: 60px;
                                         background: url('./img/modals_ico/on-off-2.png') no-repeat;
                                         background-size: 120px auto;
                                         background-position: 0 0;
                                         cursor: pointer;
                                         position: absolute;
                                         left: 180px;
                                         top:107px;
  
    }
    
            .i{
                                             width: 55px;
                                         height: 55px;
                                         background: url('./img/modals_ico/on-off.svg') no-repeat;
                                         background-size: auto 55px;
                                         background-position: 0 0;
                                         cursor: pointer;
                                         position: absolute;
                                         left: 330px;
                                         top:105px;
            }
            
            .sl span.tooltip{
                /*background-color: #8cce3b;*/
                position: absolute;
                display: block;  
                top: 170px;  
                /*border: 1px solid red;*/
                 border-radius: 3px;
                   height: 20px;  
                color: #fff;  
                text-align: center;  
                font-size: 13px;
                padding: 3px;
                box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);  
    box-sizing: border-box;  
    background: linear-gradient(top, rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); 
            }
  
</style>   
<div class='sl' >
    <div class="lights_l"></div>
    <div class="lights"></div>
    <span class="tooltip">0</span>  
    <div class="slider" ></div>
</div>
<div class='on-off' data-on='on'></div>
 <div class="i"></div>
</div>