<div class='swicher'>
<style scoped>
    .on-off{
                                               width: 160px;
                                         height: 60px;
                                         background: url('./img/modals_ico/on-off-2.png') no-repeat;
                                         background-size: 120px auto;
                                         background-position: 0 0;
                                         cursor: pointer;
                                         position: absolute;
                                         left: 40px;
                                         top:120px;
  
    }
    
        .i{
                                             width: 55px;
                                         height: 55px;
                                         background: url('./img/modals_ico/on-off.svg') no-repeat;
                                         background-size: auto 55px;
                                         background-position: 0 0;
                                         cursor: pointer;
                                         position: absolute;
                                         left: 260px;
                                         top:120px;
  
    }
</style>   
    <div class='on-off' data-on='0'></div>
    <div class="i"></div>
</div>