.dimmer {
    height: 196px;
}

.ui-slider:before{
        content: " ";  
                                         background: url('/img/modals_ico/slider-rules_v.png') no-repeat;
                                          height: 140px;  
                                        width: 6px;  
                                         display: block; 
                                          float: left;  
                                         position: relative;  
                                        top: 6px; 
                                        left:-10px;
        
    }
  .dimmer   .ui-slider{
                                        background: #00cfcb;
                                         width: 15px;
                                         height: 150px;
                                         border-radius: 20px;
                                         position: relative;
                                         top:-160px;
                                         left: 320px;
        
    }
    
   .dimmer  .ui-slider-range{   
                                    background:url("/img/modals_ico/input_back_v.png") repeat-y scroll -11px 0 rgba(0, 0, 0, 0);
                                         border-radius: 5px;        
    }
   .dimmer  .ui-slider-handle{ 
                                         background: url('/img/modals_ico/slider-1-a.png') no-repeat;   
                                         background-size: 30px auto;
                                         border: none;
                                         width: 28px;
                                         height: 25px;
                                         z-index: 100;
                                         cursor: pointer;
    }
    
    
    
   .dimmer  .lights{
                /*border: 1px solid red;*/
                                         position: relative;
                                         top:12px;
                                         left: 50px;

                                         background-image: url('/img/modals_ico/lamp_off.png'); 
                                         background-repeat: no-repeat;
                                         
                                         background-size: auto 170px;
                                               width: 200px;
                                         height: 170px;
                                         /*margin-bottom: -10px; */                                                                                
    }
    
   .dimmer  .lights_l{
       
       
                                         background-image: url('/img/modals_ico/lamp_l.png'); 
                                         background-repeat: no-repeat;
                                         opacity: 0;                                        
                                         background-size: auto 170px;

                                         height: 100%;
                                         width: 100%;
    }
   /* 
    .dimmer .sl{
                                              left: 0px;
                                         top:-30px;  
                                         position: relative;
    }
    */
  .dimmer     .sl span.tooltip{
                position: absolute;
                display: none; /*block;  */
                top: 200px;  
                left: 290px;
                 border-radius: 3px;
                   height: 20px;  
                color: #fff;  
                text-align: center;  
                font-size: 13px;
                padding: 3px;
                box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .3);  
    box-sizing: border-box;  
    background: linear-gradient(top, rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); 
            }
