.meteo{
    height: 360px;
    margin-top: 15px;
}

.meteo .dis{
    height: 188px;
    width: 338px;
    
     background: url('/img/modals_ico/display.png') no-repeat;
     font-size: 23px;
     padding: 20px 0 0 30px;

}

.meteo .dis2{
    position: relative;
    left: 350px;
    top:-210px;
}
.meteo .dis2 td{
    text-align: center;
    height: 80px;
    padding: 10px;
}

.meteo .dis2 .i1{
}

.meteo .dis2 .i2{
    font-size: 65px;
}
.meteo .dis2 .i3{
}
.meteo .dis2 .i4{
    font-size: 45px;
}

.meteo .graf{
    height: 140px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
    top:-200px;
    font-size: 10px;
    color: #fff;
}