
.control-r-dialog {
  background-color: #1d1d1d;
  overflow: no-display !important;
  border:1px solid #615959;
}
.ui-dialog {
  /*background: url('images/ui-bg_gloss-wave_55_3d3d3d_500x100.png') repeat-x scroll 50% top #3D3D3D !important;*/
  background-color: #3D3D3D !important;
        overflow: hidden !important; 
         border-radius: 20px;
}


.ui-widget-header{
    border-radius: 20px;
}
.ui-dialog-content{
    padding: 0 !important;
      overflow: hidden !important; 
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    border:none;
}

.ui-shadow-inset {
    box-shadow: none;
}

.control-r-dialog-tabs{
    background:  url('../img/tab-line.png') repeat-x;
    background-position: 0px 41px;
}

.control-r-dialog-tabs ul{
    background: none;
     background-color: #3D3D3D !important;
}

.control-r-dialog-tabs  a.ui-tabs-anchor{
    float:none !important;
    padding:0 !important;
}

.control-r-dialog-tabs  li{ 
    height: 35x;
    width: 95px;
    text-align: center;
}

.control-r-dialog-tabs  li img{
    margin-top: 5px;
    margin-bottom: -5px;
}

.control-r-dialog-tabs .ul-link{
        width: 100% !important;
    height: 100% !important;
}
.control-r-dialog-tabs  li a{
    width: 100%;
    height: 100%;
    border:none;
    margin:0;
    padding: 0;
    text-align: center;
}

.control-r-dialog-tabs  div.tab-z{
    
                                         width: 38px;
                                         height: 31px;
                                         cursor: pointer;
                                         text-align: center;
                                         margin: 0 auto;
}

.control-r-dialog-tabs  div.main-tab{
                                             
                                         background: url('../img/dialog/tab-main.png') no-repeat;
                                         background-size: auto 31px;
                                         background-position: 0 0;
}

.control-r-dialog-tabs  li.ui-tabs-active{ 
    border:1px solid #999;
    border-bottom: none;
}

.control-r-dialog-tabs  li.ui-tabs-active{ 
    border:1px solid #666;
    border-bottom: none;
}


.control-r-dialog-tabs  li.ui-state-hover{ 
   border-bottom:none !important;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-state-active a:focus  {
    color: transparent !important;
    border:none  !important;
}
/***************/

                               .control-r-dialog .ui-widget-header{
                                   background: #3d3d3d;
                                   color:#1d1d1b;
                               }
/*****CONTROLS                                ************/
.control-r-dialog-tabs .control-r-dialog-tab {
 /* padding-top: 3px; */
 padding: 0;
}

.control-r-dialog-tab input{
                                   background: url('../img/dialog/input_back.png') repeat-x;
                                   border-radius: 20px;
                                   border: 1px solid rgba(0, 0, 0, 0.25);
                                   box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
                                   padding-left: 5px;
                                   font-weight: bold;
                                   color:#fff;
                                   margin-bottom: 10px;
                                   width: 200px;
                                   font-size: 14px;
                               }
                               
 .control-r-dialog-tab .control-long{ 
                                line-height: 40px;
                                color:#1d1d1b;
                                font-size: 17px;
                                text-shadow:none;
                               }
.control-r-dialog-tab .control-long img {
                                        vertical-align: middle;
                                        margin:0 10px;
                                        width: 26px;
                                     }
.control-r-dialog-tab .control-long button{
      background: url("../css/control-r-custom/images/ui-bg_glass_40_3d3d3d_1x400.png") repeat-x scroll 50% 50% #3d3d3d;
                                         border-radius: 10px;
                                         height: 40px;
                                         font-size: 10px;
                                         padding: 0 10px;
                                        margin:0 10px;
                                        border: 1px solid #1b1613;
                                        color:#fff;
                                        width: 40px;
                                        font-weight: bold;

                                     }
                                     .control-r-dialog-tab .control-long button img{
                                         margin: 0 -7px  0;
                                     }                                     
                                     .control-r-dialog-tab .control-long button:hover{
                                      background: url("../css/control-r-custom/images/ui-bg_glass_60_000000_1x400.png") repeat-x scroll 50% 50% #3d3d3d;
                                      text-shadow: 0 1px 1px #f3f3f3;
                                         
                                     }     
                                     .control-r-dialog-tab .control-long button:active{
                                      background: none #3d3d3d;
                                         
                                     }  
.tab-main .on-off{
                                         width: 61px;
                                         height: 55px;
                                         background: url('../img/dialog/on-off.png') no-repeat;
                                         background-size: auto 55px;
                                         background-position: 0px 0px;
                                         cursor: pointer;
                                         position: absolute;
                                         left: 270px;
                                         top:82px;
                                     } 
.tab-work .ct-main{
    /*border: 1px solid white;*/
    /*height: 192px;*/
    height: auto;
}
                                     
.tab-work .ct-footer{
   /*border: 1px solid red;*/

    background:  url('../img/tab-line.png') repeat-x;
    color: #fff;   
    height: 48px;
    /*margin-top: -48px;*/
}

 .tab-work .ct-footer .on-off{
                                               width: 160px;
                                         height: 60px;
                                         /*background: url('/img/modals_ico/on-off-2.png') no-repeat;
                                         background-size: 90px auto;*/
                                         background-position: 0 0;
                                         cursor: pointer;
                                         position: relative;
                                         left: 106px;
                                         top:9px;
  
    }
    
      .tab-work .ct-footer  .i{
                                             width: 55px;
                                         height: 55px;
                                         background: url('../img/dialog/on-off.svg') no-repeat; 
                                         background-size: auto 55px; 
                                         background-position: 0 0;
                                         cursor: pointer;
                                         position: relative;
                                         left: 220px;
                                         top:-56px;
  
    }