
.control-r-dialog {
  background-color: #1d1d1d;
  overflow: no-display !important;
  border:1px solid #615959;
}
.ui-dialog {
  background-color: #3D3D3D !important;
        overflow: hidden !important; 
         border-radius: 20px;
}


.ui-widget-header{
    border-radius: 20px;
}
.ui-dialog-content{
    padding: 0 !important;
      overflow: hidden !important; 
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    border:none;
}

.ui-shadow-inset {
    box-shadow: none;
}

.control-r-dialog-tabs{
    background:  url('/templates/img/main/tab-line.png') repeat-x;
    background-position: 0px 41px;
    height: 100%;
}

.control-r-dialog-tabs ul{
    background: none;
     background-color: #3D3D3D !important;
}

.control-r-dialog-tabs  a.ui-tabs-anchor{
    float:none !important;
    padding:0 !important;
}

.control-r-dialog-tabs  li{ 
    height: 35x;
    width: 95px;
    text-align: center;
}

.control-r-dialog-tabs  li img{
    margin-top: 5px;
    margin-bottom: -5px;
}

.control-r-dialog-tabs .ul-link{
        width: 100% !important;
    height: 100% !important;
}
.control-r-dialog-tabs  li a{
    width: 100%;
    height: 100%;
    border:none;
    margin:0;
    padding: 0;
    text-align: center;
}

.control-r-dialog-tabs  div.tab-z{
    
                                         width: 38px;
                                         height: 31px;
                                         cursor: pointer;
                                         text-align: center;
                                         margin: 0 auto;
}

.control-r-dialog-tabs  div.main-tab{
                                             
                                         background: url('/templates/img/main/tab-main.png') no-repeat;
                                         background-size: auto 31px;
                                         background-position: 0 0;
}

.control-r-dialog-tabs  li.ui-tabs-active{ 
    border:1px solid #999;
    border-bottom: none;
}

.control-r-dialog-tabs  li.ui-tabs-active{ 
    border:1px solid #666;
    border-bottom: none;
}


.control-r-dialog-tabs  li.ui-state-hover{ 
   border-bottom:none !important;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-state-active a:focus  {
    color: transparent !important;
    border:none  !important;
}

.tab-main .on-off{
            background:  url('/templates/img/main/on-off.png');
                                         background-size: auto 55px;
/*                                         background-position: 0px 0px;*/
                                         background-position: -59px 0px;
                                         width: 61px;
                                         height: 55px;
                                         cursor: pointer;
                                         position: absolute;
                                         left: 270px;
                                         top:82px;
                                     } 

/*****CONTROLS                                ************/
.control-r-dialog-tabs .control-r-dialog-tab {
  /*padding-top: 15px; */
 padding: 0px 0px 0px 0px; //up left 
}

.control-r-dialog-tab{
    height: 100%;
}

.control-r-dialog-tab input{
                                   background: url('/templates/img/main/input_back.png') repeat-x;
                                   border-radius: 20px;
                                   border: 1px solid rgba(0, 0, 0, 0.25);
                                   box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
                                   padding-left: 5px;
                                   font-weight: bold;
                                   color:#fff;
                                   margin-top: 10px;
                                   margin-bottom: 10px;
                                   width: 200px;
                                   font-size: 14px;
                                   height: 25px;
                               }
                               
.control-r-dialog-tab select{
                                   background: url('/templates/img/main/input_back.png') repeat-x;
                                   border-radius: 20px;
                                   border: 1px solid rgba(0, 0, 0, 0.25);
                                   box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
                                   padding-left: 5px;
                                   font-weight: bold;
                                   color:#afabab;
                                   margin-top: 10px;
                                   margin-bottom: 10px;
                                   width: 200px;
                                   font-size: 14px;
                                   height: 25px;
                                    -webkit-appearance: none;
                                     overflow: hidden;
                                  
                               }
                               
                               .control-r-dialog-tab select option{
                                   height: 25px;
                                   
                               }
                               .control-r-dialog-tab select:hover{
                                   background-color: #5e5657;
                                   
                               }                           .control-r-dialog-tab select>option:hover{
                                   background-color: #5e5657;
                                   
                               }                               
                               
 .control-r-dialog-tab .control-long{ 
                                line-height: 40px;
                                color:#1d1d1b;
                                font-size: 17px;
                                text-shadow:none;
                               }
                               
.control-r-dialog-tab .control-long img {
                                        vertical-align: middle;
                                        margin:0 10px;
                                        width: 26px;
                                     }
                                     
.control-r-dialog-tab .control-long button{
      background: url("/css/control-r-custom/images/ui-bg_glass_40_3d3d3d_1x400.png") repeat-x scroll 50% 50% #3d3d3d;
                                         border-radius: 10px;
                                         height: 40px;
                                         font-size: 10px;
                                         padding: 0 10px;
                                        margin:0 10px;
                                        border: 1px solid #1b1613;
                                        color:#fff;
                                        width: 40px;
                                        font-weight: bold;
    float:left;

                                     }
                                     .control-r-dialog-tab .control-long button img{
                                         margin: 0 -7px  0;
                                     }                                     
                                     .control-r-dialog-tab .control-long button:hover{
                                      background: url("/css/control-r-custom/images/ui-bg_glass_60_000000_1x400.png") repeat-x scroll 50% 50% #3d3d3d;
                                      text-shadow: 0 1px 1px #f3f3f3;
                                         
                                     }     
                                     .control-r-dialog-tab .control-long button:active{
                                      background: none #3d3d3d;
                                         
                                     }
.control-r-dialog-tab .control-long div{ 
}                                     

/*   FOOTER */
.main_switcher{
        background:  url('/templates/img/main/tab-line.png') repeat-x;
    background-position: 0px 0px;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.main_switcher .block{
    height: 40px;
    width: 125px;
    margin: 0 auto;
    padding: 8px;
}

.main_switcher .block .on-off{
        background:  url('/templates/img/main/on-off-m.png');
                                         width: 78px;
                                         height: 35px;
                                         background-size: auto 80px;
                                         background-position: 0 0;
                                         float: left;
                                         cursor: pointer;

}
.main_switcher .block .i{
            background:  url('/templates/img/main/on-off.png');
                                         background-size: auto 35px;
                                         background-position: -4px 0;
                                         width: 35px;
                                         height: 35px;
                                          float: left;
                                         cursor: pointer;
                                          margin-left: 10px;

}