

.group-header{
    background: url("../../templates/img/icons/jack.png") no-repeat;
    cursor: pointer;
    height: 27px;
    width: 35px;
        position: relative;
    top: 3px;
    
}

.group .vert-border {
    background: url("../img/main/vert-line.png") repeat-y scroll 0 0 / 4px auto rgba(0, 0, 0, 0);
    float: left;
    height: 180px;
    margin-top: 30px;
    width: 4px;
 

}

.group .group_win{
    float: left;
    height: 220px;
    margin: 7px;
    padding-top: 9px;
    text-align: center;
    width: 130px;
}

.group .under{
   background: url("../img/main/gor-line.png") repeat-x scroll 0 225px / auto 4px rgba(0, 0, 0, 0);    
}

.group .group_win .ico img{
    height: 120px;
       position: relative;
    top: -15px;
}

.group .group_win .gswitch{
    position: relative;
    top: -11px;
}

.group .group_win .on-off{
                                               width: 83px;
                                         height: 40px;
                                         background: url('../img/group/on-off-2.png') no-repeat;
                                         background-size: 80px auto;
                                         background-position: 0 0;
                                         cursor: pointer;
                                         position: relative;
                                  /*      left: 106px;
                                         top:9px;*/
  
    }
    
     .group .group_win  .i{
       background: url("../img/group/on-off.svg") no-repeat scroll 0 0 / auto 40px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 41px;
    left: 88px;
    position: relative;
    top: -41px;
    width: 40px;
    }