.jack-header{
    background: url("templates/img/icons/jack.png") no-repeat;
    cursor: pointer;
    height: 27px;
    width: 35px;
        position: relative;
    top: 3px;
    
}
        .jack{
    background: url("templates/img/jack.svg") no-repeat scroll 0 0 / auto 358px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 149px;
    left: 143px;
    position: absolute;
    top: 64px;
    width: 144px;
  
    }
/*    
    .jack:hover{
         background-position: 0 -182px;
    }
    */