.ms-header{
    background: url("../../templates/img/icons/mot-sensor.png") no-repeat;
    cursor: pointer;
    height: 27px;
    width: 35px;
        position: relative;
    top: 3px;
    
}

  .mot-sensor .sensor{
    background: url("../../templates/img/mot-sensor.svg") no-repeat scroll 0 0 / auto 250px rgba(0, 0, 0, 0);
   cursor: pointer;
    height: 125px;
    left: 33px;
    position: absolute;
    top: 80px;
    width: 136px;
  
    }
    
    .mot-sensor div.buttons{
            left: 230px;
    position: absolute;
    top: 70px;
    width: 160px;
    }

        .mot-sensor div.buttons button{
                    background: url("../../css/control-r-custom/images/ui-bg_glass_40_3d3d3d_1x400.png") repeat-x scroll 50% 50% #3d3d3d;
         border: 1px solid #1b1613;
         border-radius: 10px;
         color: #fff;
         width: 140px;
         text-align: center;
         margin-bottom: 5px;
             }
        
        .mot-sensor div.buttons button:hover{
            background: url("../../css/control-r-custom/images/ui-bg_glass_60_000000_1x400.png") repeat-x scroll 50% 50% #3d3d3d;
            text-shadow: 0 1px 1px #f3f3f3;
        }    
      .mot-sensor .r-button{
    background: url("../../templates/img/mot-sensor/round-butt1.svg") no-repeat scroll 0 0 / auto 160px rgba(0, 0, 0, 0);
   cursor: pointer;
    height: 80px;
    left: 300px;
    position: absolute;
    top: 110px;
    width: 78px;
  
    }
    

    
   .mot-sensor .draw-z{
    background-color: #606060;
    border-radius: 10px;
    height: 110px;
    left: 10px;
    position: absolute;
    top: 210px;
    width: 380px;
        
    }