<div class='main'>
        <div class="meteo-informer">
            <div class="m-info">
                <div class="day">ВТ</div> 
                <div class="icon"><img src="/templates/img/meteo/weather/1.png"></div> 
                <div class="t">23°C</div> 
            </div>
            <div class="m-info">
                <div class="day">СР</div> 
                <div class="icon"><img src="/templates/img/meteo/weather/2.png"></div> 
                <div class="t">24°C</div> 
            </div>
            <div class="m-info">
                <div class="day">ЧТ</div> 
                <div class="icon"><img src="/templates/img/meteo/weather/3.png"></div> 
                <div class="t">27°C</div> 
            </div>
            <div class="m-info">
                <div class="day">ПТ</div> 
                <div class="icon"><img src="/templates/img/meteo/weather/4.png"></div> 
                <div class="t">32°C</div> 
            </div>
            
        </div>
</div>
<div class='main_switcher'>
     <div class="block">
            <div class="on-off"></div>
            <div class="i"></div>
      </div>   
</div>
